<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Robo Advisor Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h2 class="main-heading">Welcome to Financial Robo Advisor</h2>
        <div class="form-container">
            <form action="/ai_agent" method="post">
                <button type="submit" class="btn">Access AI Agent</button>
            </form>
            <form action="/prediction" method="post">
                <button type="submit" class="btn">Get Predictions</button>
            </form>
            <form action="/SA" method="post">
                <button type="submit" class="btn">Sentiment Analysis</button>
            </form>
            <form action="/paynow" method="post">
                <button type="submit" class="btn">PayNow</button>
            </form>
        </div>
    </div>
</body>

</html>
